@model DoAn.Models.Product

@{
    ViewBag.Title = "Details";
    var splq = ViewBag.SPLQ as List<DoAn.Models.Product>;

}

<div id="content" class="site-content">
    <!-- Breadcrumb -->
    <div id="breadcrumb">
        <div class="container">
            <h2 class="title">@Model.ProductName</h2>

            <ul class="breadcrumb">
                <li><a href="#" title="Home">Home</a></li>
                <li><a href="#" title="Fruit">Fruit</a></li>
                <li><span>Tomato</span></li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            @Html.Action("DanhMuc", "Products")

            <!-- Page Content -->
            <div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="product-detail">
                    <div class="products-block layout-5">
                        <div class="product-item">
                            <div class="product-title">
                                @Model.ProductName
                            </div>

                            <div class="row">
                                <div class="product-left col-md-5 col-sm-5 col-xs-12">
                                    <div class="product-image horizontal">
                                        <div class="main-image">
                                            <img class="img-responsive" src="/img/product/@Model.ImageURL" alt="Product Image">
                                        </div>

                                    </div>
                                </div>

                                <div class="product-right col-md-7 col-sm-7 col-xs-12">
                                    <div class="product-info">
                                        <div class="product-price">
                                            <span class="sale-price">@((Model.Price-(decimal)(Model.Price*Model.Discount)/100).ToString("#,##0",new System.Globalization.CultureInfo("vi-VN"))) VNĐ</span>
                                            <span class="base-price">@Model.Price.ToString("#,##0", new System.Globalization.CultureInfo("vi-VN")) </span>
                                        </div>

                                        <div class="product-stock">
                                            <span class="availability">Availability :</span><i class="fa fa-check-square-o" aria-hidden="true"></i>In stock
                                        </div>



                                        <div class="product-variants border-bottom">
                                            @using (Html.BeginForm("Cart", "Products", FormMethod.Post))
                                            {
                                                <input type="hidden" name="ProductID" value="@Model.ProductID" />
                                                <div class="d-flex align-items-center border-bottom p-3 gap-3">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <label for="qty" class="form-label mb-0">QTY:</label>
                                                        <input type="number" id="qty" name="Quantity" value="1" min="1" class="form-control" style="width:70px;">
                                                    </div>
                                                    <div>
                                                        <button typeof="submit" class="btn btn-success d-flex align-items-center gap-1">
                                                            <i class="fa fa-shopping-basket"></i>
                                                            Add To Cart
                                                        </button>
                                                    </div>

                                                </div>
                                            }



                                            <div class="product-share border-bottom">
                                                <div class="item">
                                                    <a href="#"><i class="zmdi zmdi-share" aria-hidden="true"></i><span class="text">Share</span></a>
                                                </div>
                                                <div class="item">
                                                    <a href="#"><i class="zmdi zmdi-email" aria-hidden="true"></i><span class="text">Send to a friend</span></a>
                                                </div>
                                                <div class="item">
                                                    <a href="#"><i class="zmdi zmdi-print" aria-hidden="true"></i><span class="text">Print</span></a>
                                                </div>
                                            </div>

                                            <div class="product-review border-bottom">
                                                <div class="item">
                                                    <div class="product-quantity">
                                                        <span class="control-label">Review :</span>
                                                        <div class="product-rating">
                                                            <div class="star on"></div>
                                                            <div class="star on"></div>
                                                            <div class="star on"></div>
                                                            <div class="star on"></div>
                                                            <div class="star"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <a href="#"><i class="zmdi zmdi-comments" aria-hidden="true"></i><span class="text">Read Reviews (3)</span></a>
                                                </div>

                                                <div class="item">
                                                    <a href="#"><i class="zmdi zmdi-edit" aria-hidden="true"></i><span class="text">Write a review</span></a>
                                                </div>
                                            </div>

                                            <div class="product-extra">

                                                <div class="item">
                                                    <span class="control-label">Categories :</span>
                                                    @Model.Category.CategoryName
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-tab">
                                    <!-- Tab Navigation -->
                                    <div class="tab-nav">
                                        <ul>
                                            <li class="active">
                                                <a data-toggle="tab" href="#description">
                                                    <span>Description</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                    <!-- Tab Content -->
                                    <div class="tab-content">
                                        <!-- Description -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                                            <p>@Model.Description</p>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Related Products -->
                        <div class="products-block related-products">
                            <div class="block-title">
                                <h2 class="title">Related <span>Products</span></h2>
                            </div>

                            <div class="block-content">
                                @if (splq != null && splq.Count() > 2)
                                {
                                    <div class="products owl-theme owl-carousel">

                                        @foreach (var item in splq)
                                        {
                                            <div class="product-item">
                                                <div class="product-image">
                                                    <a href="product-detail-left-sidebar.html">
                                                        <img class="img-responsive" src="/img/product/@item.ImageURL"
                                                             alt="Product Image">
                                                    </a>
                                                </div>

                                                <div class="product-title">
                                                    <a href="product-detail-left-sidebar.html">
                                                        @item.ProductName
                                                    </a>
                                                </div>

                                                <div class="product-rating">
                                                    <div class="star on"></div>
                                                    <div class="star on"></div>
                                                    <div class="star on "></div>
                                                    <div class="star on"></div>
                                                    <div class="star"></div>
                                                </div>

                                                <div class="product-price">
                                                    <span class="sale-price">@((item.Price-(decimal)(item.Price*(item.Discount??0))/100).ToString("#,##0",new System.Globalization.CultureInfo("vi-VN"))) VNĐ</span>
                                                    <span class="base-price">@item.Price.ToString("#,##0", new System.Globalization.CultureInfo("vi-VN")) </span>
                                                </div>

                                                <div class="product-buttons">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                    </a>

                                                    <a class="add-wishlist" href="#">
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </a>

                                                    <a class="quickview" href="#">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }


                                    </div>

                                }
                                else
                                {
                                    <div class="products-block">
                                        <div class="row">
                                            @foreach (var item in splq)
                                            {
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="product-item">
                                                        <div class="product-image">
                                                            <a href="@Url.Action("Details", "Products", new {id=item.ProductID})">
                                                                <img class="img-responsive" src="/img/product/@item.ImageURL"
                                                                     alt="Product Image">
                                                            </a>
                                                        </div>

                                                        <div class="product-title">
                                                            <a href="@Url.Action("Details", "Products", new {id=item.ProductID})">
                                                                @item.ProductName
                                                            </a>
                                                        </div>

                                                        <div class="product-rating">
                                                            <div class="star on"></div>
                                                            <div class="star on"></div>
                                                            <div class="star on "></div>
                                                            <div class="star on"></div>
                                                            <div class="star"></div>
                                                        </div>

                                                        <div class="product-price">
                                                            <span class="sale-price">@((item.Price-(decimal)(item.Price*item.Discount)/100).ToString("#,##0",new System.Globalization.CultureInfo("vi-VN"))) VNĐ</span>
                                                            <span class="base-price">@item.Price.ToString("#,##0", new System.Globalization.CultureInfo("vi-VN")) </span>
                                                        </div>

                                                        <div class="product-buttons">
                                                            <a class="add-to-cart" href="#">
                                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                            </a>

                                                            <a class="add-wishlist" href="#">
                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                            </a>

                                                            <a class="quickview" href="#">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }



                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
